# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Local build configuration
CMakeLists.txt.local

# Local build files
build/

# Backup files
*~
*.orig
